# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/
.venv/
.idea/
.vscode/
*.sqlite3

# OS
.DS_Store
Thumbs.db

# dotenv
.env

# Excel/temporary
*.xlsx

# Cursor
.cursor/
.cursorrules